[submodule "OCA/manufacture"]
	path = OCA/manufacture
	url = https://github.com/OCA/manufacture.git
	branch = 14.0

[submodule "OCA/server-ux"]
	path = OCA/server-ux
	url = https://github.com/OCA/server-ux.git
	branch = 14.0

[submodule "OCA/server-tools"]
	path = OCA/server-tools
	url = https://github.com/OCA/server-tools.git
	branch = 14.0

[submodule "OCA/stock-logistics-warehouse"]
	path = OCA/stock-logistics-warehouse
	url = https://github.com/OCA/stock-logistics-warehouse.git
	branch = 14.0

[submodule "OCA/ddmrp"]
	path = OCA/ddmrp
	url = https://github.com/OCA/ddmrp.git
	branch = 14.0

[submodule "OCA/web"]
	path = OCA/web
	url = https://github.com/OCA/web.git
	branch = 14.0

[submodule "shopinvader/pattern-import-export"]
	path = shopinvader/pattern-import-export
	url = https://github.com/shopinvader/pattern-import-export.git
	branch = 14.0

[submodule "OCA/queue"]
	path = OCA/queue
	url = https://github.com/OCA/queue.git
	branch = 14.0

[submodule "OCA/l10n-france"]
	path = OCA/l10n-france
	url = https://github.com/OCA/l10n-france.git
	branch = 14.0

[submodule "OCA/community-data-files"]
	path = OCA/community-data-files
	url = https://github.com/OCA/community-data-files.git
	branch = 14.0

[submodule "OCA/purchase-workflow"]
	path = OCA/purchase-workflow
	url = https://github.com/OCA/purchase-workflow.git
	branch = 14.0

[submodule "OCA/product-attribute"]
	path = OCA/product-attribute
	url = https://github.com/OCA/product-attribute.git
	branch = 14.0

[submodule "OCA/stock-logistics-workflow"]
	path = OCA/stock-logistics-workflow
	url = https://github.com/OCA/stock-logistics-workflow.git
	branch = 14.0

[submodule "OCA/wms"]
	path = OCA/wms
	url = https://github.com/OCA/wms.git
	branch = 14.0

[submodule "OCA/rest-framework"]
	path = OCA/rest-framework
	url = https://github.com/OCA/rest-framework.git
	branch = 14.0

[submodule "OCA/delivery-carrier"]
	path = OCA/delivery-carrier
	url = https://github.com/OCA/delivery-carrier.git
	branch = 14.0

[submodule "OCA/server-auth"]
	path = OCA/server-auth
	url = https://github.com/OCA/server-auth.git
	branch = 14.0

[submodule "OCA/connector"]
	path = OCA/connector
	url = https://github.com/OCA/connector.git
	branch = 14.0

[submodule "OCA/report-print-send"]
	path = OCA/report-print-send
	url = https://github.com/OCA/report-print-send.git
	branch = 14.0

[submodule "OCA/e-commerce"]
	path = OCA/e-commerce
	url = https://github.com/OCA/e-commerce.git
	branch = 14.0

[submodule "OCA/partner-contact"]
	path = OCA/partner-contact
	url = git@github.com:OCA/partner-contact.git
	branch = 14.0

[submodule "OCA/data-protection"]
	path = OCA/data-protection
	url = git@github.com:OCA/data-protection.git
	branch = 14.0

[submodule "OCA/sale-workflow"]
	path = OCA/sale-workflow
	url = git@github.com:OCA/sale-workflow.git
	branch = 14.0

[submodule "OCA/account-analytic"]
	path = OCA/account-analytic
	url = git@github.com:OCA/account-analytic.git
	branch = 14.0

[submodule "OCA/account-financial-tools"]
	path = OCA/account-financial-tools
	url = git@github.com:OCA/account-financial-tools.git
	branch = 14.0

[submodule "OCA/account-reconcile"]
	path = OCA/account-reconcile
	url = git@github.com:OCA/account-reconcile.git
	branch = 14.0

[submodule "OCA/edi"]
	path = OCA/edi
	url = https://github.com/OCA/edi.git
	branch = 14.0
